<form class="{{cssClass}}" autocomplete="off">
	{{!-- Sheet Header --}}
	<header class="sheet-header">
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
		<div class="header-fields">
			<h2 class="charname"><input name="name" type="text" value="{{actor.name}}"
				placeholder="{{localize 'WOIN.Name'}}" /></h2>
			<div class="descriptor">
				<div>
					<span>a[n] </span>
					<span class="descriptor-computed">
						<span class="age">{{data.description.age}}</span>
						<span class="trait">{{data.description.trait}}</span>
						<span class="race">{{data.description.race}}</span>
						<span class="career">{{data.description.gender}}</span>
					</span>
				</div>
				<div>
					<span> who/with </span>
					<span class="hook">{{data.description.hook}}</span>
				</div>
			</div>
		</div>
	</header>

	{{!-- Sheet Tab Navigation --}}
	<nav class="sheet-tabs tabs flex-container" data-group="primary">
		<a class="item" data-tab="description">{{localize 'WOIN.Description'}}</a>
		<a class="item" data-tab="attributes">{{localize 'WOIN.Attributes'}}</a>
		<a class="item" data-tab="skills">{{localize 'WOIN.Skills'}}</a>
		<a class="item" data-tab="exploits">{{localize 'WOIN.Exploits'}}</a>
		<a class="item" data-tab="equipment">{{localize 'WOIN.Equipment'}}</a>
		<a class="item" data-tab="advancement">{{localize 'WOIN.Advancement'}}</a>
	</nav>

	{{!-- Sheet Body --}}
	<section class="sheet-body">

		{{!-- Description Tab --}}
		<div class="tab description-tab" data-group="primary" data-tab="description">
			{{!-- Description --}}
			<div class="description">
				<label for="description.age">{{localize 'WOIN.Age'}}:</label>
				<input id="description.age" name="data.description.age" type="text" value="{{data.description.age}}"
					placeholder="{{localize 'WOIN.Age'}}" />
				<label for="description.trait">{{localize 'WOIN.Trait'}}:</label>
				<input id="description.trait" name="data.description.trait" type="text" value="{{data.description.trait}}"
					placeholder="{{localize 'WOIN.Trait'}}" />
				<label for="description.race">{{localize 'WOIN.Race'}}:</label>
				<input id="description.race" name="data.description.race" type="text" value="{{data.description.race}}"
					placeholder="{{localize 'WOIN.Age'}}" />
				<label for="description.hook">{{localize 'WOIN.Hook'}}:</label>
				<input id="description.hook" name="data.description.hook" type="text" value="{{data.description.hook}}"
					placeholder="{{localize 'WOIN.Hook'}}" />
				<label for="description.gender">{{localize 'WOIN.Gender'}}:</label>
				<input id="description.gender" name="data.description.gender" type="text" value="{{data.description.gender}}"
					placeholder="{{localize 'WOIN.Gender'}}" />
				<label for="description.height">{{localize 'WOIN.Height'}}:</label>
				<input id="description.height" name="data.description.height" type="text" value="{{data.description.height}}"
					placeholder="{{localize 'WOIN.Height'}}" />
				<label for="description.weight">{{localize 'WOIN.Weight'}}:</label>
				<input id="description.weight" name="data.description.weight" type="text" value="{{data.description.weight}}"
					placeholder="{{localize 'WOIN.Weight'}}" />
			</div>
			<div class="biography">
				{{editor content=data.description.biography target="data.description.biography" button=true owner=owner editable=editable}}
			</div>
		</div>

		{{!-- Attributes Tab --}}
		<div class="tab attributes-tab" data-group="primary" data-tab="attributes">
			{{!-- Attributes --}}
			<div class="attributes">
				<fieldset>
					<legend>{{localize 'WOIN.Attributes'}}</legend>
					<div class="attribute-names flex-container">
						<span>{{localize 'WOIN.STR'}}</span>
						<span>{{localize 'WOIN.AGI'}}</span>
						<span>{{localize 'WOIN.END'}}</span>
						<span>{{localize 'WOIN.INT'}}</span>
						<span>{{localize 'WOIN.LOG'}}</span>
						<span>{{localize 'WOIN.WIL'}}</span>
						<span>{{localize 'WOIN.CHA'}}</span>
						<span>{{localize 'WOIN.LUC'}}</span>
						<span>{{localize 'WOIN.REP'}}</span>
					</div>
					<div class="attribute-values flex-container">
						<span><input name="data.attributes.strength.value" type="number"
							value="{{data.attributes.strength.value}}" data-dtype="Number" /></span>
						<span><input name="data.attributes.agility.value" type="number"
							value="{{data.attributes.agility.value}}" data-dtype="Number" /></span>
						<span><input name="data.attributes.endurance.value" type="number"
							value="{{data.attributes.endurance.value}}" data-dtype="Number" /></span>
						<span><input name="data.attributes.intuition.value" type="number"
							value="{{data.attributes.intuition.value}}" data-dtype="Number" /></span>
						<span><input name="data.attributes.logic.value" type="number"
							value="{{data.attributes.logic.value}}" data-dtype="Number" /></span>
						<span><input name="data.attributes.willpower.value" type="number"
							value="{{data.attributes.willpower.value}}" data-dtype="Number" /></span>
						<span><input name="data.attributes.charisma.value" type="number"
							value="{{data.attributes.charisma.value}}" data-dtype="Number" /></span>
						<span><input name="data.attributes.luck.value" type="number"
							value="{{data.attributes.luck.value}}" data-dtype="Number" /></span>
						<span><input name="data.attributes.reputation.value" type="number"
							value="{{data.attributes.reputation.value}}" data-dtype="Number" /></span>
					</div>
					<div class="attribute-dice flex-container">
						<span>{{data.attributes.strength.dice}}d6</span>
						<span>{{data.attributes.agility.dice}}d6</span>
						<span>{{data.attributes.endurance.dice}}d6</span>
						<span>{{data.attributes.intuition.dice}}d6</span>
						<span>{{data.attributes.logic.dice}}d6</span>
						<span>{{data.attributes.willpower.dice}}d6</span>
						<span>{{data.attributes.charisma.dice}}d6</span>
						<span>{{data.attributes.luck.dice}}d6</span>
						<span>{{data.attributes.reputation.dice}}d6</span>
					</div>
				</fieldset>
			</div>

			<div class="stats flex-container">
				{{!-- Health --}}
				<div class="health">
					<fieldset>
						<legend>{{localize 'WOIN.Health'}}</legend>
						<div class="health-names flex-container">
							<span>{{localize 'WOIN.Current'}}</span>
							<span>{{localize 'WOIN.Max'}}</span>
						</div>
						<div class="health-values flex-container">
							<span><input name="data.health.value" type="number" value="{{data.health.value}}" /></span>
							<span class="slash">/</span>
							<span><input name="data.health.max" type="number" value="{{data.health.max}}" /></span>
						</div>
					</fieldset>
				</div>

				{{!-- Movement --}}
				<div class="movement">
					<fieldset>
						<legend>{{localize 'WOIN.Movement'}}</legend>
						<div class="movement-values flex-container">
							<span class="flex-container-vertical">
								<span class="movement-name">{{localize 'WOIN.Speed'}}</span>
								<span><input name="data.movement.speed" type="number" value="{{data.movement.speed}}" /></span>
							</span>
							<span class="flex-container-vertical">
								<span class="movement-name">{{localize 'WOIN.Climb'}}</span>
								<span><input name="data.movement.climb" type="number" value="{{data.movement.climb}}" /></span>
							</span>
							<span class="flex-container-vertical">
								<span class="movement-name">{{localize 'WOIN.Jump'}}</span>
								<span class="jump flex-container">
									<span class="jump-value"><input name="data.movement.jumpH" type="number" value="{{data.movement.jumpH}}" />'</span>
									<span class="jump-slash slash">/</span>
									<span class="jump-value"><input name="data.movement.jumpV" type="number" value="{{data.movement.jumpV}}" />'</span>
								</span>
							</span>
							<span class="flex-container-vertical">
								<span class="movement-name">{{localize 'WOIN.Carry'}}</span>
								<span><input name="data.movement.carry" type="number" value="{{data.movement.carry}}" /></span>
							</span>
							<span class="flex-container-vertical">
								<span class="movement-name">{{localize 'WOIN.Initiative'}}</span>
								<span><input name="data.movement.initiative" type="number" value="{{data.movement.initiative}}" /></span>
							</span>
						</div>
					</fieldset>
				</div>
			</div>

			{{!-- Defense --}}
			<div class="defenses">
				<fieldset>
					<legend>{{localize 'WOIN.Defenses'}}</legend>
					<div class="defense-names flex-container">
						<span>{{localize 'WOIN.Melee'}}</span>
						<span>{{localize 'WOIN.Ranged'}}</span>
						<span>{{localize 'WOIN.Mental'}}</span>
						<span>{{localize 'WOIN.Vital'}}</span>
						<span>{{localize 'WOIN.Soak'}}</span>
					</div>
					<div class="defense-values flex-container">
						<span><input name="data.defenses.melee" type="number" value="{{data.defenses.melee}}" /></span>
						<span><input name="data.defenses.ranged" type="number" value="{{data.defenses.ranged}}" /></span>
						<span><input name="data.defenses.mental" type="number" value="{{data.defenses.mental}}" /></span>
						<span><input name="data.defenses.vital" type="number" value="{{data.defenses.vital}}" /></span>
						<span><input name="data.defenses.soak" type="number" value="{{data.defenses.soak}}" /></span>
					</div>
				</fieldset>
			</div>

			{{!-- Attacks --}}
			<div class="attacks">
				<fieldset>
					<legend>{{localize 'WOIN.Attacks'}}</legend>
					<ol class="attack-list">
						{{#each data.attacks}}
							<li class="attack flexrow" data-attack-id="{{@index}}">
								<h4 class="attack-name">{{this.name}}</h4>
								<span class="attack-roll">{{this.roll}}</span>
								(<span class="attack-damage">{{this.damage}}</span>
								<span class="attack-damage-type">{{this.damageType}}</span>{{#if this.range}};
									<span class="attack-range">{{this.range}}</span>
								{{/if}}{{#if this.notes}};
									<span class="attack-notes">{{this.notes}}</span>
								{{/if}})
								<div class="attack-controls">
									<a class="attack-control attack-edit" title="{{localize 'WOIN.EditAttack'}}"><i class="fas fa-edit"></i></a>
									<a class="attack-control attack-delete" title="{{localize 'WOIN.DeleteAttack'}}"><i class="fas fa-trash"></i></a>
								</div>
							</li>
						{{/each}}
					</ol>
				</fieldset>
			</div>
		</div>

		{{!-- Advancement Tab --}}
		<div class="tab advancement-tab" data-group="primary" data-tab="advancement">
			{{!-- Life Path --}}
			<div class="life-path">
				<fieldset>
					<legend>{{localize 'WOIN.LifePath'}}</legend>
				</fieldset>
			</div>

			{{!-- Experience --}}
			<div class="xp">
				<fieldset>
					<legend>{{localize 'WOIN.XP'}}</legend>
				</fieldset>
			</div>
		</div>

		{{!-- Skills Tab --}}
		<div class="tab skills-tab" data-group="primary" data-tab="skills">
			{{!-- Skills}}
			<div class="skills">
				<fieldset>
					<legend>{{localize 'WOIN.Skills'}}</legend>
				</fieldset>
			</div>
		</div>

		{{!-- Exploits Tab --}}
		<div class="tab exploits-tab" data-group="primary" data-tab="exploits">
			{{!-- Exploits --}}
			<div class="exploits">
				<fieldset>
					<legend>{{localize 'WOIN.Exploits'}}</legend>
				</fieldset>
			</div>
		</div>

		{{!-- Equipment Tab --}}
		<div class="tab equipment-tab" data-group="primary" data-tab="equipment">
			{{!-- Equipment --}}
			<div class="equipment">
				<fieldset>
					<legend>{{localize 'WOIN.Equipment'}}</legend>
				</fieldset>
			</div>

			{{!-- Wealth --}}
			<div class="wealth">
				<fieldset>
					<legend>{{localize 'WOIN.Wealth'}}</legend>
				</fieldset>
			</div>
		</div>
	</section>
</form>
