/**
 * Actor Sheet Styling
 */
.woin.actor form {
  margin: 30px 50px;
}

.woin.actor fieldset {
  border: 0;
  padding: 0;
  margin: 5px 0px;
}

.woin.actor fieldset legend {
  font-weight: bold;
  margin-bottom: 5px;
}

.woin.actor input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}

.woin.actor input:focus {
  box-shadow: 0 0 10px 1px darkgray;
}

.woin.actor .window-content {
  background-image: url("../assets/images/woin-character-sheet-background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.woin.actor .flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.woin.actor .flex-container-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.woin.actor .slash {
  white-space: nowrap;
  padding: 0px 5px;
  margin-top: 5px !important;
}

/**
 * Header
 */
.woin.actor .profile-img {
  background-color: rgba(33, 33, 33, 0.5);
}

.woin.actor .descriptor span {
  display: inline-block;
}

.woin.actor .descriptor span.descriptor-computed {
  border-bottom: 1px solid black;
  min-width: 395px;
  white-space: nowrap;
  overflow-x: hidden;
  margin-top: 5px;
  margin-bottom: -5px;
  text-align: center;
}

.woin.actor .descriptor span.hook {
  border-bottom: 1px solid black;
  min-width: 361px;
  white-space: nowrap;
  overflow-x: hidden;
  margin-top: 5px;
  margin-bottom: -5px;
  text-align: center;
}

/**
 * Tabs
 */
.woin.actor .tabs {
  justify-content: space-between;
}

.woin.actor .tabs .item {
  flex: 0;
  font-weight: bold;
  text-align: center;
}

/**
 * Description Tab
 */
.woin .biography .editor,
.woin .biography .editor-content {
  height: 100%;
  width: 100%;
}

/**
 * Attributes Tab
 */
.woin.actor {
  /**
	 * Attributes
	 */
  /**
	 * Health
	 */
  /**
	* Movement
	*/
  /**
	* Defenses
	*/
}

.woin.actor .attribute-names,
.woin.actor .attribute-dice {
  justify-content: space-around;
}

.woin.actor .attribute-values {
  justify-content: space-around;
}

.woin.actor .attribute-values span {
  margin: 0px 1px;
}

.woin.actor .attribute-values input {
  text-align: center;
}

.woin.actor .health {
  margin-right: 5px;
  flex: 1;
}

.woin.actor .health-names {
  justify-content: space-around;
}

.woin.actor .health-values {
  justify-content: space-around;
}

.woin.actor .health-values input {
  text-align: center;
}

.woin.actor .movement {
  margin-left: 5px;
  flex: 3;
}

.woin.actor .movement-name {
  text-align: center;
}

.woin.actor .movement-values span {
  flex: 2;
  margin: 0px 1px;
}

.woin.actor .movement-values input {
  text-align: center;
}

.woin.actor .movement-values .jump span {
  white-space: nowrap;
}

.woin.actor .movement-values .jump-value {
  flex: 2;
}

.woin.actor .movement-values .jump-slash {
  flex: 1;
  margin-right: -15px;
}

.woin.actor .defense-names {
  justify-content: space-around;
}

.woin.actor .defense-values {
  justify-content: space-around;
}

.woin.actor .defense-values span {
  margin: 0px 1px;
}

.woin.actor .defense-values input {
  text-align: center;
}

/**
 * Simple Worldbuilding Copy
 */
.woin {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}

.woin .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}

.woin form {
  height: 100%;
}

.woin .sheet-header {
  flex: 0 0 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.woin .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}

.woin .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}

.woin .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}

.woin .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}

.woin .resource {
  width: 50%;
  height: 40px;
  margin-top: 10px;
  float: left;
  text-align: center;
}

.woin .resource input {
  width: 100px;
  height: 28px;
}

.woin .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}

.woin .sheet-body {
  overflow: hidden;
}

.woin .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}

.woin .editor,
.woin .editor-content {
  height: 100%;
}

.woin .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.woin .item-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
  align-items: stretch;
}

.woin .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}

.woin .item-list .item-name {
  margin: 0;
}

.woin .item-list .item-controls {
  flex: 0 0 36px;
}

.woin .item-list .item-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  flex: 2;
  justify-content: flex-start;
}

.woin .item-list .item-button {
  line-height: 1;
  font-size: 11px;
  flex: none;
  width: auto;
}

.woin .attributes {
  position: relative;
}

.woin .attributes .attribute-control,
.woin .attributes .group-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}

.woin .attributes .attribute-roll {
  flex: 0 0 20px;
  text-align: center;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.woin .attributes .group-prefix {
  height: 31px;
  margin-right: 10px;
}

.woin .attributes .button {
  width: 100%;
  flex: 1;
  margin: 0;
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #f0f0e0;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  display: block;
}

.woin .attributes .attribute-key {
  background: transparent;
  border: none;
}

.woin .attributes-header {
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  padding: 0 5px;
  margin: 5px 0;
  background: #cfcdc2;
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: left;
  font-weight: bold;
}

.woin .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.woin .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}

.woin .attributes-list .attribute-col label {
  font-size: 10px;
  text-align: center;
  line-height: 1;
}

.woin .attributes-list .attribute-col input {
  font-size: 11px;
  text-align: center;
  line-height: 1;
  height: 50%;
}

.woin .attribute input[type="text"]::placeholder,
.woin .group-header input[type="text"]::placeholder {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.woin .attribute input[type="text"]:focus::placeholder,
.woin .group-header input[type="text"]:focus::placeholder {
  opacity: 1;
}

.woin .group-controls {
  margin: 5px;
}

.woin .groups-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.woin .group {
  margin: 5px 0 0;
  padding: 0;
}

.woin .group-header {
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  padding: 2px 5px;
}

.woin .group-key,
.woin .group-label {
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #AAA;
  background: transparent;
  border-radius: 0;
  margin-right: 6px;
}

.woin .group-key {
  opacity: 0.75;
}

.woin .group-label {
  flex: 2;
}

.woin .group-dtype {
  height: 24px;
  flex: 0 0 116px;
  margin: 0 5px;
}

.woin.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}

.woin.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
