/**
 * Attributes Tab
 */
.woin.actor {
	/**
	 * Attributes
	 */
	.attribute-names,
	.attribute-dice {
		justify-content: space-around;
	}

	.attribute-values {
		justify-content: space-around;

		span {
			margin: 0px 1px;
		}

		input {
			text-align: center;
		}
	}

	/**
	 * Health
	 */
	.health {
		margin-right: 5px;
		flex: 1;
	}

	.health-names {
		justify-content: space-around;
	}

	.health-values {
		justify-content: space-around;

		input {
			text-align: center;
		}
	}

	/**
	* Movement
	*/
	.movement {
		margin-left: 5px;
		flex: 3;
	}

	.movement-name {
		text-align: center;
	}

	.movement-values {
		span {
			flex: 2;
			margin: 0px 1px;
		}

		input {
			text-align: center;
		}

		.jump {
			span {
				white-space: nowrap;
			}
		}

		.jump-value {
			flex: 2;
		}

		.jump-slash {
			flex: 1;
			margin-right: -15px;
		}
	}

	/**
	* Defenses
	*/
	.defense-names {
		justify-content: space-around;
	}

	.defense-values {
		justify-content: space-around;

		span {
			margin: 0px 1px;
		}

		input {
			text-align: center;
		}
	}
}
