/**
 * Header
 */
.woin.actor {
	.profile-img {
		background-color: rgba(33, 33, 33, 0.5);
	}

	.descriptor {
		span {
			display: inline-block;

			&.descriptor-computed {
				border-bottom: 1px solid black;
				min-width: 395px;
				white-space: nowrap;
				overflow-x: hidden;
				margin-top: 5px;
				margin-bottom: -5px;
				text-align: center;
			}

			&.hook {
				border-bottom: 1px solid black;
				min-width: 361px;
				white-space: nowrap;
				overflow-x: hidden;
				margin-top: 5px;
				margin-bottom: -5px;
				text-align: center;
			}
		}
	}
}
