/**
 * Actor Sheet Styling
 */
.woin {
	&.actor {
		form {
			margin: 30px 50px;
		}

		fieldset {
			border: 0;
			padding: 0;
			margin: 5px 0px;

			legend {
				font-weight: bold;
				margin-bottom: 5px;
			}
		}

		input {
			border: 0;
			outline: 0;
			background: transparent;
			border-bottom: 1px solid black;

			&:focus {
				box-shadow: 0 0 10px 1px darkgray;
			}
		}

		.window-content {
			background-image: url("../assets/images/woin-character-sheet-background.png");
			background-repeat: no-repeat;
			background-size: cover;
		}

		.flex-container {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
		}

		.flex-container-vertical {
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
		}

		.slash {
			white-space: nowrap;
			padding: 0px 5px;
			margin-top: 5px !important;
		}
	}
}
